.contact_body {
    margin: auto;
    background-color: rgb(195, 195, 195);
    width: 90%;
    margin-top: 0px;
    padding: 2px 20px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
}

body {
    margin: 0px;
    min-width: 900px;
}

table {
    padding: 30px 30px;
    border: 2px;
    border-collapse: collapse;
}

td,
th {
    border-style: none;
    padding: 0px 80px;

}




td {
    padding-bottom: 80px;
}

#store1 {
    white-space: nowrap;
}

#address1 {
    word-break: break-word;
}

.contactbottom {
    border-bottom: 2px solid black;
}